.idea/


#### complie result
**.pyc
**.pyx

**/build/

##### infer output
eval/**/*.wav

**.zip

**/bazel-5.3.2-installer-linux-x86_64.sh

tmp.py

**__pycache__**

test_module/**/*.wav

**.ckpt
**.pth
backup
*tmp*

exp*/
!exp_recon/
exp_recon/*
!exp_recon/DAC_24k_9/
!exp_recon/test-clean/
!exp_recon/test-clean_16000/
!exp_recon/test-clean_flac/

/*.txt
!combined.txt

pretrained/